[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "==1.5.0"
dbt-snowflake = "==1.5.0"
sqlfluff = "==2.0.7"
sqlfluff-templater-dbt = "==2.0.7"
duckdb = "==0.7.1"
jupyterlab = "3.6.3"
pandas = "*"
numpy = "*"
faker = "*"
imdbpy = "*"

[dev-packages]

[requires]
python_version = "3.11.2"
