[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "==1.7.4"
dbt-snowflake = "==1.7.1"
sqlfluff = "==2.3.5"
sqlfluff-templater-dbt = "==2.3.5"

[requires]
python_version = "3.11"