[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "==1.4.0"
dbt-duckdb = "==1.4.2"
sqlfluff = "==1.4.5"
sqlfluff-templater-dbt = "==1.4.5"
duckdb = "==0.7.1"

[dev-packages]

[requires]
python_version = "3.10"
